@charset "utf-8";
/* CSS Document */
/*全局样式
---------------------------------------------*/
*{margin:0px;padding:0px; border:0px;}
p,ul,li,dl,dd,dt,form,h1,h2,h3,h4,h5,h6{list-style:none;}
fieldset,img{ border:0; }
a{text-decoration:none;}
table{ border-collapse:collapse; border-spacing:0; }
*html{ zoom:expression(function(ele){ele.style.zoom = "1";document.execCommand("BackgroundImageCache",false,true)}
(this))}
.clear{clear:both;font-size:0px;height:0px;_height:0px;overflow:hidden; }
em, i { font-style: normal;}
/* Clear Fix */ 
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;} 
.clearfix{display:inline-block;} 
/* Hide from IE Mac */ 
.clearfix {display:block;} 
.left{float:left; _display:inline;}
.right{float:right; _display:inline;}
.ovfl{ overflow:hidden;}
.mar{ margin:0px auto;}
.filter_bg{ filter: alpha(opacity=80); opacity: 0.8; }
.ie6_bg{ background: url(../images/bg.png) no-repeat center;  _background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src = '../images/bg.png', sizingMethod = 'scale');}
/*网站样式
---------------------------------------------*/
body{background:#fff; color:#333; font-family:'Microsoft YaHei',宋体,Arial,Helvetica,'方正兰亭粗黑简体'; font-size: 14px;}
a{color:#333;text-decoration:none;cursor :pointer; outline: none;transition: all 1s;
-webkit-transition: all 1s;-moz-transition: all 1s;-o-transition: all 1s;}

/* CSS Header */
.top{ width:1200px; height:30px; background: #343F45; color: #fff; }
#top{  height:30px; line-height:30px;  margin:0px auto;background: #343F45; min-width: 1200px; }
#top a{ color: #fff; }
#top a:hover{ text-decoration: underline; }
.top_sp2 a{ margin:0px 5px;}

#header{ height:140px; background: #E6E6E6; min-width: 1200px; }
.header{ width:1200px; height:140px; background: #E6E6E6; position: relative; }
.logo{  top:25px; left: 0px; position: absolute;}
.tel{ height:46px;font-size:20px; line-height: 46px; position: absolute; top: 34px; right: 0px; font-weight: bold; color: #005E91; }
.tel span{ float: left; }
.tel b{ float: left;  }

/* CSS nav */

.nav{ height:30px; overflow:hidden; top:97px; position: absolute;}
.nav ul{ }
.nav ul li{ float :left; } 
.nav ul li a{ width:128px; margin:0px 10px; height:30px; line-height: 30px;  float:left; display:inline; text-align:center; font-size:16px;}
.nav ul li a:hover{ color:#fff; background-color:#005E91; }
.nav ul li.selectli a{ color:#fff; background-color:#005E91;  }
.nav ul li.nav_line{ width:2px; height:13px; background:url(../images/nav_line.jpg) no-repeat; margin-top: 10px;}

.dnav{height:27px; margin-top:31px;  position:relative; z-index:1; float:right;}
.dnav .nLi{ float:left;  position:relative; display:inline;  }
.dnav .nLi h3{ float:left; font-weight:normal;  }
.dnav .nLi h3 a{ width:60px; height:25px;  display:block; text-align:center; margin:0px 26px; padding:3px 0px 0px 0px; font-size:15px; color:#323232;  }
.dnav .nLi h3 a:hover{ color:#3D74CA; border-bottom:solid 1px #105FC7;}
.dnav .selectli{ float:left;  position:relative; display:inline;}
.dnav .selectli h3{ float:left; font-weight:normal;  }
.dnav .selectli h3 a{width:60px; height:25px;  display:block; text-align:center; margin:0px 26px; padding:3px 0px 0px 0px; font-size:15px;transition: all 1s;
-webkit-transition: all 1s;-moz-transition: all 1s;-o-transition: all 1s; color:#3D74CA; border-bottom:solid 1px #105FC7;}
.dnav .sub{ display:none; width: 120px; left:26px; top:29px;  position:absolute; z-index:9999;   padding:5px 0; background-color:#fff; transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -webkit-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);}
.dnav .sub li{ zoom:1; border-bottom:solid 1px #f1f1f1; height:28px; line-height:28px;}
.dnav .sub a{ display:block; padding:0 10px; font-size:13px;  transition: padding 0.2s ease-in-out;
    -moz-transition: padding 0.2s ease-in-out;
    -webkit-transition: padding 0.2s ease-in-out;
    -o-transition: padding 0.2s ease-in-out;}
.dnav .sub a:hover{ color:#fff;  color:#3D74CA; }
.dnav .on h3 a{ color:#3D74CA; border-bottom:solid 1px #105FC7;font-family:'方正兰亭粗黑简体';  }
.sub li:hover > a {
	padding-left: 18px;
}

/* CSS banner */
.banner{height:100%; text-align:center; overflow:hidden; margin:0px auto; min-width: 1200px;}
.slideBox{ height:520px; position:relative; margin:0px auto; }
.slideBox .bd li{ zoom:1; vertical-align:middle; width:100%;}
.slideBox .bd img{ height:520px; display:block;  margin:0px auto;}
.slideBox .prev,
.slideBox .next{ position:absolute; left:3%; top:50%; margin-top:-25px; display:block; width:32px; height:40px; background:url(../images/slider-arrow.png) -110px 5px no-repeat; filter:alpha(opacity=50);opacity:0.5;   }
.slideBox .next{ left:auto; right:3%; background-position:8px 5px; }
.slideBox .prev:hover,
.slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
.slideBox .prevStop{ display:none;  }
.slideBox .nextStop{ display:none;  }
.slideBox .hd{ height:8px; overflow:hidden; position:absolute; right:50%; bottom:37px; z-index:1; }
.slideBox .hd ul{ overflow:hidden; zoom:1; float:left;  }
.slideBox .hd ul li{ float:left; margin-left:4px;  width:8px; height:8px;  text-align:center; cursor:pointer; text-indent:999em; }
.slideBox .hd ul li.on{  }
.page_banner{ height:231px; background:url(../images/page_banner.jpg) no-repeat; background-size:cover; margin:0px auto; min-width: 1200px;}
/* CSS Main */
.wrap{ width:1200px; height:100%;  overflow:hidden;  }
#wrap{ width:100%; height:555px; position: relative;z-index:10; }
.wrap2{ width:1090px; height:550px;  margin:0px auto; position:relative; }
#page_wrap{ width:1143px; height:541px;  overflow:hidden; border:solid 1px #E7E7E4; background-color:#fff; filter: alpha(opacity=80); opacity: 0.8; margin:0px auto; }
#page_wrap1{ width:100%; position:absolute; z-index:100; top:-37px; left:0px; margin:0px auto;  }
.main{ width:1200px; height:100%;  overflow:hidden; margin:0px auto; background-color:#fff; }
/* CSS Home */


#about1{ height: 285px; border-bottom: solid 1px #E6E6E6; background: #F8F8F8; }
.about1{ width: 1200px; height: 285px;  background: #F8F8F8;}

.about{ width:560px; height:220px; margin-top:40px; }
.about_p1{ height:36px; background: url(../images/bg1.jpg) repeat-x bottom; overflow:hidden;}
.more_01{ margin-top:6px; margin-right:2px;}
.about_a2{ width:190px; height:130px; margin-right:20px; margin-top: 25px; border: solid 1px #D8D8D8; }
.about_a2:hover{ filter:alpha(opacity=80);opacity:0.8; border: solid 1px #005E91;}
.about_a2 img{ max-width:190px; height:130px;}
.about_01{ width:345px; height:132px; line-height:23px; color:#2D2D2D; margin-top:25px; text-indent: 2em; }
.about_01 a:hover{ margin-left: 5px; }
#news{ height: 45px; background: #343F45; }
.news{ width:1200px; height: 45px; line-height: 45px; background: #343F45; color: #fff;}
.news a{ color: #fff; }
.newsa1 img{ float: left;  margin-top: 8px; margin-right: 8px;}
.newsa1 span{ text-decoration:underline; }
.news a:hover img{ animation: swing 1s; }

.case{ width:1200px; height:375px;  margin-top:35px;}
.case1{ width:1200px; height:29px; line-height: 29px; background:url(../images/bg2.jpg) repeat-x;  overflow: hidden;}
.case3{ width: 212px; background: #EFEFEF;  margin-top: 29px; height: 316px;}
.casesp1 a{ margin-left:35px;}
.casesp1 a:hover{ color: #B71E24; }
.case3p1{ height: 30px; line-height: 30px; margin-top: 17px; text-align: center; }
.case3p1 a{ font-weight: bold; font-size: 18px; }
.case3p1 a:hover{ color: #B71E24; }
.case3_ul{ margin-top: 12px; margin-left: 15px; }
.case3_ul li{ height: 35px; line-height: 35px; }
.case3_ul li b{ color: #6F6F6F; }
.case3_ul li a{ margin-left: 6px; }
.case3_ul li a:hover{ color: #B71E24; margin-left: 10px; }

.products{ width:272px; height:341px; margin-top:60px; border-top: solid 1px #DADBDD;}
.products_01{ width: 215px; height:315px; margin-top:26px; background: #F8F8F8; overflow: hidden; }
.products_p1{ height:37px; line-height: 37px; margin-top: 18px;  }
.products_p1 a{ font-size: 20px; margin-left: 27px; color: #494A4B; }
.products_ul{ margin-top: 10px; }
.products_ul li{ height:36px; color: #2F2F2F;  line-height: 36px; overflow:hidden; font-size: 14px; float:left; }
.products_ul li a{  color: #2F2F2F;   float: left; }
.products_ul li a:hover{ color:#005E91;  }
.products_ul li a:hover b{ margin-right: 10px; }
.products_ul li a b{  margin-right: 5px; transition: all 1s}
.contact_us{ width:545px; height:160px;  margin-top:25px; position: relative;}
.contact_usa1{ position: absolute; top: 10px; left: 0px; }
.contact_usa1:hover{ filter:alpha(opacity=80);opacity:0.8; }
.contact_usa1 img{ width: 124px; height: 132px; }
.contact_usa2{ position: absolute; top: 4px; left: 152px; }
.contact_usa2:hover{ filter:alpha(opacity=80);opacity:0.8; }
.contact_us01{ width: 260px; height:100px; line-height:23px; color:#2D2D2D; position: absolute; top: 56px; left: 152px; }
.weixin{ position: absolute; top: 10px; right: 12px;}
/* CSS Js */
.picMarquee-left{ margin-left:35px;}
.picMarquee-left ul li{ width:272px; height:275px; float:left; margin:0px 8px;}
.switch_Marquee_p1{ width:272px; height:224px; text-align:center;}
.switch_Marquee_p1 a:hover{ filter:alpha(opacity=80);opacity:0.8;}
.switch_Marquee_p1 img{ max-width:272px; height:224px;}
.switch_Marquee_p2{ width:272px; height:51px; line-height:51px; text-align:center;}
.switch_Marquee_p2 a{color:#343434; font-size:12px;}
.switch_Marquee_p2 a:hover{ color:#343434;}


.picScroll-left{ width:480px; height:155px; float:left; overflow:hidden; margin-top:13px;}
.picScroll-left .hd{ width:855px; border:solid 1px #BDCAD1; background-color:#fff;  height:45px; margin-top:9px; overflow:hidden;}
.picScroll-left .hd .next,.picScroll-left .hd .prev{ width:15px; height:18px; float:left; margin-top:14px;}
.picScroll-left .hd .next{ background:url(../images/left_btn1.png) no-repeat; margin-left:689px;}
.picScroll-left .hd .prev{ background:url(../images/right_btn.png) no-repeat; margin-left:15px;}
.picScroll-left .bd ul li{  width:150px; height:155px; float:left; margin:0px 5px;  overflow:hidden;}
.switch_Scroll_p1{ width:150px; height:155px; text-align:center;}
.switch_Scroll_p1 a{ width:144px; height:149px; padding:2px; background:#fff; border:solid 1px #CEC7BB; float:left;}
.switch_Scroll_p1 a:hover{ border:solid 1px #bbb; filter:alpha(opacity=80);opacity:0.8;}
.switch_Scroll_p1 img{ max-width:144px; height:149px;}
.switch_Scroll_p2{ height:34px; line-height:34px; text-align:center; padding-top:13px;}
.switch_Scroll_p2 a{color:#3E4042; font-size:16px;}
.switch_Scroll_p2 a:hover{ color:#3E4042;}


#KinSlideshow{ width:287px; height:255px;}

.slideTxtBox{ width: 928px; height: 370px; }

.case2{ margin-top:8px; width: 928px; float: left; }
.case2 ul{ float:left; }
.case2 ul li{ width:434px; height:144px; margin:19px 0px 0px 30px; float:left; display:inline; overflow:hidden; position: relative; }
.casea1{ width: 160px; height: 144px; position: absolute; top: 0px; left: 0px; }
.casea1 img{ width: 160px; height: 144px;  }
.casea1:hover{ filter:alpha(opacity=80);opacity:0.8;}
.casep1{ width: 235px; height: 36px; line-height: 26px; position: absolute; top: 0px; left: 188px;}
.casep1 a{ color: #0A56AC; font-size: 16px; font-weight: bold;}
.casep1 a:hover{ color: #C2141E; }
.casep2{ width: 235px; height: 60px; line-height: 20px; text-indent: 2em; position: absolute; top: 37px; left: 188px; color: #858586;}
.casea2{ width: 78px; height: 22px; line-height: 22px; text-align: center; background: #C2141E; color: #fff; position: absolute; top: 107px; left: 190px; -moz-border-radius: 5px;      /* Gecko browsers */
    -webkit-border-radius: 5px;   /* Webkit browsers */
    border-radius:5px;            /* W3C syntax */}
.casea2:hover{  background: #0A56AC; }
/*两排*/
.multipleColumn{ width:1002px;}
.multipleColumn .bd{ padding-top:10px;}
.multipleColumn .bd li{ width:235px; height:160px; float:left; margin:15px 7px 0px 7px; display:inline; overflow:hidden; background-color:#D9D9D9; }
.multipleColumn_p1{ width:229px; height:128px; text-align:center; margin-left:3px; margin-top:3px;}
.multipleColumn_p1 a{ width:229px; height:128px; float:left;}
.multipleColumn_p1 a:hover{ filter:alpha(opacity=80);opacity:0.8;}
.multipleColumn_p1 img{ max-width:229px; height:128px;}
.multipleColumn_p2{ width:235px; height:29px; line-height:29px; text-align:center; }
.multipleColumn_p2 a{color:#4C4C4C; font-size:13px; }
.multipleColumn .bd li.selectli{ background-color:#006BC5; cursor:pointer;}
.multipleColumn .bd li.selectli .multipleColumn_p2 a{ color:#fff;}

/* CSS Footer */
.footer{width:1200px; height:100px; background:#343F45;  color:#fff; text-align:center; margin:0px auto;}
.footer a{ color:#fff;}
.footer a:hover{ text-decoration:underline;}
#footer{ height:100px;background:#343F45;  overflow:hidden; margin-top: 35px;}
.footer_01{ margin-top:25px;}
.footer_01 a{ margin:0px 20px;}
.footer_02{ margin-top:15px;}

.kefu1{ width:55px; height:275px; position: absolute; z-index: 999; cursor: pointer; right: 0px; background:#343434;}
.kefu1 ul li{ width:55px; height: 54px; border-bottom:solid 1px #474747;  text-align: center;  position: relative;}
.kefu1 ul li a{ width:55px;position: absolute; right: 0px; top: 0px; height: 54px; transition: all 0s;}
.kefu1 ul li img{ float: left; margin-left: 13px; margin-top: 15px;}
.kefu1 ul li.on img{ animation: swing 1s;}
.kefu1 ul li span{display: none; }
.kefu1 ul li.kefu1li1 a:hover{ width:180px; background:#F76F0B;   }
.kefu1 ul li:hover span{ display:inline; float: left; margin-left: 7px; font-size: 16px;color: #fff; height: 54px; line-height: 54px;  }
.kefu1 ul li#kefu1li2:hover i{ width: 125px; height: 125px; position: absolute; top: 54px; left: 0px; background: url(../images/kefuwx.jpg) no-repeat; }

/* 摇摆 */
@-webkit-keyframes swing{
    20%{-webkit-transform:rotate(15deg);}
    40%{-webkit-transform:rotate(-10deg);}
    60%{-webkit-transform:rotate(5deg);}
    80%{-webkit-transform:rotate(-5deg);}
    100%{-webkit-transform:rotate(0);}
}
@-moz-keyframes swing{
    20%{-moz-transform:rotate(15deg);}
    40%{-moz-transform:rotate(-10deg);}
    60%{-moz-transform:rotate(5deg);}
    80%{-moz-transform:rotate(-5deg);}
    100%{-moz-transform:rotate(0);}
}
@-ms-keyframes swing{
    20%{-ms-transform:rotate(15deg);}
    40%{-ms-transform:rotate(-10deg);}
    60%{-ms-transform:rotate(5deg);}
    80%{-ms-transform:rotate(-5deg);}
    100%{-ms-transform:rotate(0);}
}
@keyframes swing{
    20%{transform:rotate(15deg);}
    40%{transform:rotate(-10deg);}
    60%{transform:rotate(5deg);}
    80%{transform:rotate(-5deg);}
    100%{transform:rotate(0);}
}

/*CSS Left_side*/
.left_side{ width:210px;  float:left; display:inline; margin-top: 15px; background: #F8F8F8;}
.left_sidep1{ height: 40px; line-height: 40px; margin-top:16px;}
.left_sidep1 a{ font-size: 20px; color: #494A4B; margin-left: 27px; }
.left_sidecon{ line-height:25px; font-size:14px; padding-top:18px; color:#4B4B4B;}

.left_sideul{ width:210px;  margin-top:5px;}
.left_sideul li{ height:40px; overflow:hidden;_float:left; margin-top:5px; }
.left_sideul li.sline{ width:254px; height:2px; background:url(../images/page_line.png) repeat-x; overflow:hidden; margin:0px auto;}
.left_sideul li a{ width:170px; padding-left:40px; height:40px; line-height:40px; background:#EAEAEA; font-size:16px; color:#242424; float:left; text-align:left;  }
.left_sideul li a:hover{ background-color:#005E91; color:#fff;}
.left_sideul li.selectli a{ background-color:#005E91; color:#fff;}

.pcontact_us{ width:170px; height:100%; overflow: hidden; margin-top:30px;  margin-left: 24px;}
.pcontact_a2{ width:170px; margin-top: 10px; float: left; text-align: center;}
.pcontact_a3{ width:170px; margin-top: 20px; float: left; text-align: center;}
.pcontact_us_01{ width:150px; padding-bottom: 20px; line-height:24px; margin-top: 20px; float: left; margin-left: 5px; color:#2D2D2D;}

/*CSS Right_side*/
.right_side{ width:955px; height:100%; overflow:hidden;  float:right; display:inline; margin-top: 15px;}
.right_title{ height:45px; border-bottom: solid 1px #E0E0E0; }
.right_title_left{ float:left;  font-size:18px; color:#2D2D2D; margin-top:10px;  }
.right_title_right{ margin-top:15px; color:#666666; float:right; margin-right:10px; display:inline;}
.right_title_right a{ color:#666666;}
.right_title_right a:hover{ color: #ED8601; }
.right_title_right_sp1{ width:14px; height:13px; background:url(../images/page_icon.png) no-repeat; float:left; margin-top:1px; margin-right:5px;}
.right_title_right_sp2{ float:left;}
.right_line{ height:5px; background:url(../images/page_line1.jpg) repeat-x; overflow:hidden;}
.right_line span{ width:5px; height:5px; background:url(../images/page_icon1.jpg) no-repeat; float:right;}
.right_content{width:935px; min-height:471px; _height:471px;padding:10px 10px 10px 10px; }
.right_title1{ height:50px; line-height:50px; text-align:right; color:#7E7E7E;font-size:14px; padding-right:5px;}
.right_title1 a{ color:#7E7E7E;}
.right_title1 a:hover{ text-decoration:underline;}
.jp-container{width:810px;height:471px;position:relative;}

/* CSS News */
#indexNews{ padding:5px; }
#indexNews li{ height:30px; line-height:30px; border-bottom:#D9D9D9 1px dotted; padding:5px 10px 5px 10px; font-size:13px;}
#indexNews li a{ padding-left:15px; background:url(../images/icon_simple.gif) no-repeat left center; float:left;}
#indexNews li span{ float:right;}
#indexNews li img{margin:13px 10px 0 0;}
#indexNews li a:hover{color:#ED8601; }

#indexNews1 li{ padding:5px; float:left;}
.indexNews1_a1{ float:left; width:300px; height:128px; border:1px solid #dcdcdc; padding:1px;}
.indexNews1_a1:hover{filter:alpha(opacity=80);opacity:0.8; border:1px solid #D80000;}
.indexNews1_a1 img{ max-width:300px; height:auto;}
.indexNews1_div1{ float:left; margin-left:15px;}
.indexNews1_h3{ height:26px; line-height:26px;}
.indexNews1_h3 a{ font-size:14px; font-weight:bold; color:#585858;}
.indexNews1_h3 a:hover{ color:#ED8601;}
.indexNews1_p1{ line-height:23px; }
.indexNews1_p2{ line-height:23px; color:#D80000; margin-top:10px;}

/*Related*/
.related{ padding:15px; float: left; }
.related p{ height:25px; font-weight:bold; border-bottom:solid 1px #F1F1F1; font-size:16px;}
.related ul { width:100%; padding:10px 5px;float:left;}
.related ul li{ width:50%; height:26px; line-height:26px; float:left;}
.related ul li b{ float:left;}
.related ul li a{ float:left; margin-left:5px; display:inline; font-size:13px;color:#666;}
.related ul li a:hover{ color:#ED8601;}
/*上一条下一条*/
.pageslist{ margin:10px 10px; line-height: 28px; font-size: 14px; }
.pageslist a:hover{ color: #ED8601; }
/* CSS Pic */
#picUL{ font-size:13px;}
#picUL li{height:214px;width:204px;float:left;margin:10px 13px;text-align:center; display:inline;}
#picUL li .pic_01{width:202px;height:182px; text-align: center;background: #ffffff;border:1px solid #dcdcdc;transition: all 1s;
-webkit-transition: all 1s;-moz-transition: all 1s;-o-transition: all 1s;}
#picUL li .pic_01 a:hover{ filter:alpha(opacity=80);opacity:0.8;}
#picUL li .pic_01:hover{ border:1px solid #ED8601; cursor:pointer;}
#picUL li .pic_01 img{height:180px;max-width:200px; _width:200px; vertical-align:middle; padding:1px;}
#picUL li .pic_01 span{ height:100%; width:0; overflow:hidden; display:inline-block; vertical-align:middle;}
#picUL li .pic_02{width:195px;text-align: center;line-height:30px;}
#picUL li a{color:#585858;}
#picUL li a:hover{color:#ED8601; }

#proUL{ font-size:13px;}
#proUL li{height:214px;width:204px;float:left;margin:10px 13px;text-align:center; display:inline;}
#proUL li .pic_01{width:202px;height:182px; text-align: center;background: #ffffff;border:1px solid #dcdcdc;transition: all 1s;
-webkit-transition: all 1s;-moz-transition: all 1s;-o-transition: all 1s;}
#proUL li .pic_01 a:hover{ filter:alpha(opacity=80);opacity:0.8;}
#proUL li .pic_01:hover{ border:1px solid #ED8601; cursor:pointer;}
#proUL li .pic_01 img{height:180px;max-width:200px; _width:200px; vertical-align:middle; padding:1px;}
#proUL li .pic_01 span{ height:100%; width:0; overflow:hidden; display:inline-block; vertical-align:middle;}
#proUL li .pic_02{width:195px;text-align: center;line-height:30px;}
#proUL li a{color:#585858;}
#proUL li a:hover{color:#ED8601; }

/* CSS Info */

#newTitle{ line-height:35px; font-size:25px; text-align:center;}
#productTitle{ height:30px;font-size:25px;text-align:center;}
#newsInfo{ height:30px; line-height:30px; font-size:12px;text-align:center; border-bottom:solid 1px #f1f1f1; margin-top:10px;}
.newsinfoleft {padding-left: 30px;}
.xxsmys{ width:600px; height:30px; line-height:30px; background-color:#ececec;}
.xxsmwz{ width:88px; height:30px; color:#FFF; text-align:center; display:block; background-color:#9a9a9a;}
.pageys{ width:59px; height:21px; line-height:21px; border:#e5e5e5 solid 1px; display:block; float:left; text-align:center;}
.pageys:hover{color:#ff6c00}
.pageys1{ width:20px;height:21px; line-height:21px; border:#e5e5e5 solid 1px; display:block; float:left; text-align:center; margin-left:5px;}
.pageys2{ float:left; padding-left:5px;height:21px; line-height:21px; }
#infoImage{width:100%;text-align:center;margin:10px 0 10px 0;}
#infoImage img{ max-width:600px; padding:3px; border:#dcdcdc solid 1px;}
#newsContent{ margin:0 auto;line-height:25px; padding:15px;}
#newsContent img{max-width:650px;}
#newsContent div{ text-indent:2em;font-size:13px;}
.contactus{  height:auto; padding-left:20px;; line-height:25px; text-align:left;}
#company_main{ margin:0 auto; line-height:25px; padding:10px;text-indent:2em;}
#company_main img{ max-width:650px;}
#company_main .contactus{ text-indent:0em;}
#newsContent div.alink{ padding:5px; line-height:25px; margin:0 auto; font-size:14px;text-indent:0em;}
/*css digg style pagination*/
div.digg{padding:5px;margin:3px;text-align:center; float:right; }
div.digg a{border:#aaaadd 1px solid;padding:2px 5px;margin:2px;color:#585858;text-decoration:none}
div.digg a:hover{border:#585858 1px solid;color:#000;}
div.digg a:active{border:#585858 1px solid;color:#000;}
div.digg span.current{border:solid 1px #ED8601;padding:2px 5px;font-weight:bold;margin:2px;color:#fff;background-color:#ED8601;}
div.digg span.disabled{border:#eee 1px solid;padding:2px 5px;margin:2px;color:#ddd;}
div.digg select{ border:#aaaadd 1px solid;}
/*******************************message css start***************************************/
.message_ul{
	margin:0px auto;
	font-size:14px;
	float:left;
	padding:10px 20px;
	
}
.message_ul li{
	margin:5px 20px;
	float:left;
	width:100%;
}
.message_ul li label{ width:80px; float:left; text-align:right; margin-top:4px;}
.G_textarea{
	width:450px;
	height:100px;
	border:1px solid #dedede;
}
.G_InputText{
	width:250px;
	height:30px;
	line-height:27px;
	border:1px solid #dedede;
	padding:3px;
	float:left;
	border-radius: 2px;
}
.yanzheng{
	width:100px;
	height:23px;
	border:1px solid #dedede;
	padding:3px;
}
.But{
	width:74px;
	height:31px;
	line-height:27px;
	background:#025E91;
	border-radius:2px;
	border:none;
	text-align:center;
	margin-top:14px;
	margin-left:5px;
	font-size:14px;
	color:#FFF;
	cursor:pointer;
}
.G_tips{
	width:486px;
	line-height:20px;
	margin:30px 65px;
	border:1px solid #dedede;
	padding:3px 7px 7px 7px;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow: 0px 0px 3px rgba(0,0,0,.1);
	-webkit-box-shadow: 0px 0px 3px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 0px 3px rgba(0,0,0,.1);
}
.red{
	color:#ff0000;
}
.cpmcys{ height:28px; border:solid 1px #DEDEDE;}
/*******************************message css end***************************************/

/******************************job css start***************************************/
.job_ul{ padding:10px 15px;}
.job_ul li{
	width:100%;
	border-bottom:dashed 1px #cfcfcf;
	float:left;
	padding:10px;
	line-height:24px;
}
.job_ul li .recruit_info{
	font-size:14px;
	float:left;
}
.job_ul li .recruit_info .job_nam{
	color:#000;
	font-weight:bold;
}
.job_ul li .but{
	width:74px;
	height:31px;
	line-height:31px;
	background: #ED8601;
	border-radius:2px;   
	float:right;
	margin-top:10px;
	margin-right:22px;
	text-align:center;
}
.job_ul li .but a{
	text-decoration:none;
	color:#FFF;
	display:block;
}

.recruit_info_tit_bg{
	height:31px;
	background:#f8f8f8;
	border-radius:2px;
	margin:0px auto;
	padding:5px 15px;
}
	
.recruit_info_tit_bg .recruit_info_tit{
	width:73px;
	height:31px;
	border-top-left-radius: 2px;
	border-bottom-left-radius: 2px;
	background:#ED8601;
	font-size:14px;
	color:#ffffff;
	line-height:31px;
	text-indent:8px;
}
.recruit_info_main{
	margin:0px auto;
	margin-top:10px;
	margin-bottom:60px;
	padding:5px 20px;
}

.recruit_info_main p {
	text-align: justify;
	letter-spacing: 1px;
	font-size: 14px;
	line-height: 28px;
	color: #444444;
}

/*sitemap*/
.mesmore{margin-top:5px;}
.mesmore:hover{color:#da020d;text-decoration:underline;}
.sitemap{ width:996px; float:left; /*border:3px solid #f0f0f0;*/ margin-top:10px; margin-bottom:10px;}
.m1{ height:20px; line-height:20px; margin-top:20px; margin-left:20px;}
.m2{ margin-left:20px; margin-top:20px; line-height:25px;}
.m2 span{ font-size:14px; font-weight:bold;}
.m2t{ border:1px solid #f0f0f0; width:800px; padding-left:4px; margin-top:2px; padding:10px; margin-bottom:20px;height: 73px;}
.m2t ul{}
.m2t ul li{ list-style-type:none; float:left; width:150px;}
.m2t ul li a{color:black;}
.m2t ul li a:hover{ color:red; text-decoration:underline;}
.f{ float:right; margin-right:10px; _margin-top:7px;}
.map{ float:right;margin-top: 20px;}
.map a{color:black;}
.pages{ padding:5px 15px; margin:10px 0px;}
.pages li{ float:left; line-height:30px;}
.pagesli1{ width:40%;}
.pagesli2{ width:40%;}
.pagesli3{ width:20%;}
/*页面加载css*/
#loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	z-index: 9999999999;
}

.spinner {
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-left: -40px;
	margin-top: -40px;
	-webkit-animation: rotatee 2.0s infinite linear;
	animation: rotatee 2.0s infinite linear;
}

.dot1, .dot2 {
	width: 60%;
	height: 60%;
	display: inline-block;
	position: absolute;
	top: 0;
	background-color: #0a9fd8;
	border-radius: 100%;
	-webkit-animation: bouncee 2.0s infinite ease-in-out;
	animation: bouncee 2.0s infinite ease-in-out;
}

.dot2 {
	top: auto;
	bottom: 0px;
	-webkit-animation-delay: -1.0s;
	animation-delay: -1.0s;
}
@-webkit-keyframes rotatee { 100% { -webkit-transform: rotate(360deg) }}
@keyframes rotatee {
	100% {
		transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes bouncee {
	0%, 100% { -webkit-transform: scale(0.0) }
	50% { -webkit-transform: scale(1.0) }
}

@keyframes bouncee {
	0%, 100% {
		transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
}